@import "https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --color-green: #50fa7b;
    --color-rocketseat: #7159c1;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background: #ffffff;
    color: white;
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 32px;
    box-sizing: border-box;
    background: rgb(121, 129, 115);
    text-align: center;
    width: 100%;
}

.links {
    font-size: 22px;
}

.links a + a {
    margin-left: 32px;
}

.links a {
    color: white;
    text-decoration: none;
    position: relative;
}

.links a.active {
    font-weight: 600;
}

.links a:hover {
    color: #56ebff;
}

.links a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: #56ebff;
    position: absolute;
    left: 0;
    bottom: -4px;
}

.links a:hover::after {
    width: 100%;
    transition: width 400ms ease-in-out;
}

#wrapper {
    text-align: center;
    padding: 32px;
}

#wrapper img {
    border-radius: 50%;
    border: 5px solid var(--color-green);
    margin-bottom: 32px;
    height: 300px;
}

#wrapper h1 {
    font-size: 42px;
    line-height: 52px;
    font-weight: bold;
}

#wrapper h2 {
    font-size: 24px;
    line-height: 34px;
    font-weight: normal;
    margin-top: 8px;
    opacity: 0.8;
}

#wrapper p {
    max-width: 500px;
    margin: 32px auto;
    font-size: 24px;
    line-height: 34px;
}

#wrapper p a {
    color: var(--color-green);
}

#links-footer a {
    border-bottom: 1px solid var(--color-green);
}

/*=== CARDS ===*/
.cards {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.card {
    background-color: #a9abac;
    width: 800px;
    min-height: 400px;
    margin: 20px auto;

    display: grid;
    grid-template-columns: 2fr 3fr;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.7);
    cursor: pointer;

    animation-name: animacao;
    animation-duration: 800ms;
    animation-timing-function: ease-in-out;

    animation-fill-mode: forwards;

    opacity: 0;
}

@keyframes animacao {
    from {
        
    }
    to {
        opacity: 1;
    }
}

.imagem:first-child {

}

.detalhes {
    padding: 30px;
}

.detalhes .item  {
    
    font-size: 14px;
    line-height: 24px;
    text-shadow: 0.3px 0.3px 1px black;

    padding: 16px 0;
    border-top: 1px solid rgba(104, 98, 98, 0.287);
}

.detalhes .item:first-child {
    border: none;
}

.detalhes .item:first-letter {
    font-size: 25px;
    color: rgb(246, 58, 58);
}

h3 {
    text-shadow: 0.3px 0.3px 3px black;
}

.card__image-container img {
    width: 100%;
}

.card__content,
.card__info {
    padding: 15px;
}

.card__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.card__price {
    background-color: var(--color-rocketseat);
    filter: brightness(90%);
    padding: 5px 20px;
    border-radius: 20px;
    text-align: center;
}

/*=== MODAL ===*/

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.modal {
    background-color: rgba(255, 255, 255, 0.3);
    width: 90%;
    height: 90%;
    margin: 5vh auto;
    position: relative;
}

.modal .close-modal {
    color: black;
    position: absolute;
    right: 0px;
    top: 0px;
    cursor: pointer;
}

/*=== MODAL.ACTIVE ===*/

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

iframe {
    width: 96%;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 2%;
}

/*=== FEATURED===*/

.featured-wrapper.card__image-container {
    position: relative;
}

.featured {
    position: absolute;
    background-color: aqua;
    color: black;
    padding: 5px;
    right: 5px;
    font-size: 9px;
    border-radius: 15px;
    font-weight: bolder;
}

/*=== VíDEO PAGE ===*/

.video {
    margin: 0 auto;
    max-width: 800px;
}

.card__video-container {
    position: relative;
    padding-top: 62.5%;
}

.card__video-container iframe {
    width: 100%;
    height: 90%;
    position: absolute;
    left: 0;
    top: 0;
}

