{% extends "layout.njk" %}

{% block content %}
<form class="card" method="POST" action="/teachers">
    <section class="avatar" style=" background: url(https://source.unsplash.com/collection/3203326/500x500) no-repeat center center / cover " ></section>
    <!--<section>
        <h3>New Teacher</h3>

        <div class="item">
            <div>Avatar URL</div>
            <div>
                <input
                    type="url"
                    name="avatar_url"
                    placeholder="http://"
                >
            </div>
        </div>

        <div class="item">
            <div>Nome completo</div>
            <div>
                <input
                    type="text"
                    name="name"
                    placeholder="Digite seu nome"
                >
            </div>
        </div>

        <div class="item">
            <div>Data de nascimento</div>
            <div>
                <input
                    type="date"
                    name="birth"
                >
            </div>
        </div>

        <div class="item">
            <div>Grau de escolaridade</div>
            <div>
                <select name="escolaridade" id="selecao">
                    <option value="Mc">Ensino Médio Completo</option>
                    <option value="Sc" selected >Ensino Superior Completo</option>
                    <option value="Mt">Mestrado </option>
                    <option value="Dr">Doutorado</option>
                </select>
            </div>
        </div>

        <div class="item">
            <div>Tipo de aula</div>
            <div>
                <span><input type="radio" name="tipoEnsino" value="Presencial" checked >Presencial</span>
                <span><input type="radio" name="tipoEnsino" value="Ead" >Á distância</span>
            </div>
        </div>

        <div class="item">
            <div>Área de atuação</div>
            <div>
                <input
                    type="text"
                    name="areaAtuacao"
                    placeholder="informações das matérias"
                >
            </div>
        </div>

        <button type="submit">Salvar</button>
    </section>


-->



    <section>
        <h3>Pedidos</h3>

        <div class="item">
            <div>Nome completo</div>
            <div>
                <input
                    type="text"
                    name="name"
                    placeholder="Digite seu nome"
                >
            </div>
        </div>

        <div class="item">
            <div>Endereço de entrega</div>
            <div>
                <input
                    type="text"
                    name="endereco"
                    placeholder="Digite seu endereço"
                >
            </div>
        </div>

        <div class="item">
            <div>Forma de pagamento</div>
            <div>
                <select name="pagamento" id="selecao">
                    <option value="dinheiro">Dinheiro</option>
                    <option value="debito" selected >Débito</option>
                    <option value="credito">Crédito </option>
                </select>
            </div>
        </div>

        <div class="item">
            <div>Sanduiches</div>
            <div>
                <span><input type="radio" name="tipoEnsino" value="Presencial" >Bauru Simples</span>
                <span><input type="radio" name="tipoEnsino" value="Ead" >X-Tudo</span>
            </div>
        </div>

        <div class="item">
            <div>Bebidas</div>
            <div>
                <span><input type="radio" name="tipoEnsino" value="Presencial" >Coca-cola</span>
                <span><input type="radio" name="tipoEnsino" value="Ead" >Guaraná Antartica</span>
            </div>
        </div>


        <button type="submit">Salvar</button>
    </section>

</form>


{% endblock content %}