{% extends "layout.njk" %}

{% block content %}
<form>
    <section class="card" method="POST" action="/teachers" ></section>
    <section class="detalhes" >
        <h3>Editar Instrutor</h3>

        <!--{% include 'teachers/fields.njk' %}-->
    </section>
</form>
{% endblock content %}