{% extends "layout.njk" %}

{% block head %}
    <title>Sobre - Jefferson Rodrigues</title>    
{% endblock %}

{% block content %}

<div class="card">
    <section class="imagem" style=" background: url(https://source.unsplash.com/collection/3203326/500x500) no-repeat center center / cover "></section>
    <section class="detalhes">
        <h3>Detalhes</h3>
        <div class="item">
            <div>Teacher - {{ teacher.id }}</div>
            <div>{{ teacher.name }}</div>
        </div>

        <div class="item">
            <div>Idade</div>
            <div>{{ teacher.birth }}</div>
        </div>

        <div class="item">
            <div>Graduação</div>
            <div>{{ teacher.escolaridade }}</div>
        </div>

        <div class="item">
            <div>Modalidade de Ensino</div>
            <div>{{ teacher.tipoEnsino }}</div>
        </div>

        <div class="item">
            <div>Acompanhamento</div>
            <div>
                {% for j in teacher.areaAtuacao %}
                <span>{{ j }}</span>
                {% endfor %}
            </div>
        </div>

        <div class="item">
            <div>Desde</div>
            <div>{{ teacher.created_at }}</div>
        </div>

        <a href="/teachers/{{ teacher.id }}/edit" class="button">Editar</a>

    </section>
</div>

{% endblock %}