{% extends "layout.njk" %}

{% block head %}
    <title>Sobre - Jefferson Rodrigues</title>    
{% endblock %}

{% block content %}

<div class="card">
    <section class="imagem" style=" background: url(https://source.unsplash.com/collection/3203326/500x500) no-repeat center center / cover "></section>
    <section class="detalhes">
        <h3>Detalhes</h3>
        <div class="item">
            <div>Teacher - {{ teacher.id }}</div>
            <div>{{ teacher.name }}</div>
        </div>

        <div class="item">
            <div>Idade</div>
            <div>{{ teacher.birth }}</div>
        </div>

        <div class="item">
            <div>Graduação</div>
            <div>{{ teacher.escolaridade }}</div>
        </div>

        <div class="item">
            <div>Modalidade de Ensino</div>
            <div>{{ teacher.tipoEnsino }}</div>
        </div>

        <div class="item">
            <div>Acompanhamento</div>
            <div>
                <span>Programação</span>
                <span>Matemática</span>
            </div>
        </div>

        <div class="item">
            <div>Desde</div>
            <div>01/01/2019</div>
        </div>

    </section>
</div>

<div class="card2">
    <section class="imagem" style=" background: url(https://source.unsplash.com/collection/3203326/500x500) no-repeat center center / cover "></section>
    <section class="detalhes">
        <h3>Detalhes</h3>
        <div class="item">
            <div>Teachers</div>
            <div>Jefferson Rodrigues</div>
        </div>

        <div class="item">
            <div>Idade</div>
            <div>29</div>
        </div>

        <div class="item">
            <div>Graduação</div>
            <div>Doutorado</div>
        </div>

        <div class="item">
            <div>Modalidade de Ensino</div>
            <div>Ead</div>
        </div>

        <div class="item">
            <div>Acompanhamento</div>
            <div>
                <span>Programação</span>
                <span>Matemática</span>
            </div>
        </div>

        <div class="item">
            <div>Desde</div>
            <div>01/01/2019</div>
        </div>

    </section>
</div>


<!--
<div id="wrapper">
    <img src="{{ data.avatar_url }}" alt="Jefferson Rodrigues">
    <h1>{{ data.name }}</h1>
    <h2>{{ data.role }}</h2>
    <p>{{ data.description }}</p>
</div>
<div id="links-footer" class="links">
    {% for link in data.links %}
        <a href="{{ link.url }}" target="_blank">{{ link.name }}</a>
    {% endfor %}
</div>
-->

{% endblock %}